
*{
   margin: 0; 
   padding: 0;
}
header,section,nav,footer{
    display: block;
}
body{
    background-color: lightblue;
}
header{
    height: 60px;
    width: 1000px;
    background-color: aquamarine;
}
nav{
    float: left;
    width: 200px;
    background-color: aquagreen;
}
section{
    float: left;
    width: 795px;
    background-color: cyan;
}
footer{
    clear: both;
    width: 1000px;
    background-color: aqua;
}
#page2{
    display: none;
}